{% extends "base.html" %}

{% block page_content %}
{{ admin }}
<div class="tab-container">
    <div class="tab-header">
        <button class="tab-button active" data-tab="tab1">Edit homepage</button>
        <button class="tab-button" data-tab="tab2">Post a blog</button>
        <button class="tab-button" data-tab="tab3">Links</button>
        <button class="tab-button" data-tab="tab4">Site settings</button>
    </div>
    <div class="tab-content">
        <div class="tab-panel active" data-tab="tab1">
        <form method="POST">
            {% csrf_token %}
            <h1>Homepage edit</h1>
            <label>Title</label><br>
            <input type="text" name="title" class="user-input" value="{{ homepage_body.title }}">
            <br>
            <label>Body</label><br>
            <textarea name="body" class="user-input" rows="10" cols="50">{{ homepage_body.body }}</textarea>
            <br>
            <input type="submit" value="Save" class="button-input" name="homepage_form">
        </form>
        </div>
        <div class="tab-panel" data-tab="tab2">
        <form method="POST">
            {% csrf_token %}
            <h1>Add a new blogpost</h1>
            <label>Blog title</label><br>
            <input type="text" name="blog_title" class="user-input" placeholder="Blog title">
            <br>
            <label>Blog body</label><br>
            <textarea name="blog_body" class="user-input" rows="10" cols="50"></textarea>
            <br>
            <label>Blog tags</label><br>
            <input type="text" name="blog_tags" class="user-input" placeholder="separate labels by commas">
            <br>
            <input type="submit" value="Post" class="button-input" name="blogpost_form">
        </form>
        </div>
        <div class="tab-panel" data-tab="tab2">
        <form method="POST">
            {% csrf_token %}
            <h1>Add new link</h1>
            <label>Link name</label><br>
            <input type="text" name="link_name" class="user-input">
            <br>
            <label>Link url</label><br>
            <input type="text" name="link_url" class="user-input">
            <br>
            <input type="submit" value="Add" class="button-input" name="link_form">
        </form>
        <hr>
        {% for link in links_list %}
        <p style="display: inline;"><form method="POST">{% csrf_token %}{{ link.name }} - {{ link.url }} - <input type="hidden" name="link_pk" value="{{ link.pk }}"><input type="submit" value="Remove" class="button-input" name="rm_link_form"></form></p>
        {% endfor %}
        </div>
        <div class="tab-panel" data-tab="tab4">
        <form method="POST">
            {% csrf_token %}
            <h1>Site settings</h1>
            <label>Page name</label><br>
            <input type="text" name="page_name" class="user-input" value="{{ page_settings.name }}">
            <br>
            <label>Footer text</label><br>
            <input type="text" name="footer_text" class="user-input" value="{{ page_settings.footer_text }}">
            <br>
            <label>Homepage menu item name</label><br>
            <input type="text" name="homepage_text" class="user-input" value="{{ page_settings.menu1_text }}">
            <br>
            <label>Blog menu item name</label><br>
            <input type="text" name="blog_text" class="user-input" value="{{ page_settings.menu2_text }}">
            <br>
            <label>Link menu item name</label><br>
            <input type="text" name="link_text" class="user-input" value="{{ page_settings.menu3_text }}">
            <br>
            <label>Login menu item name</label><br>
            <input type="text" name="login_text" class="user-input" value="{{ page_settings.menu4_text }}">
            <br>
            <label>Logout menu item name</label><br>
            <input type="text" name="logout_text" class="user-input" value="{{ page_settings.menu5_text }}">
            <br>
            <label>Dashboard menu item name</label><br>
            <input type="text" name="dashboard_text" class="user-input" value="{{ page_settings.menu6_text }}">
            <br>
            <input type="submit" value="Save" class="button-input" name="site_settings_form">
        </form>
        </div>
    </div>
</div>
{% endblock %}