<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'javascript.js' %}" defer=""></script>
    <title>{{ page_name }} - {{ page_title }}</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            {% if page_name %}
            <li><b>{{ page_name }}</b></li>
            {% endif %}
            <li><a href="{% url 'homepage:homepage' %}">{% if page_settings.menu1_text %}{{ page_settings.menu1_text }}{% else %}Homepage{% endif %}</a></li>
            <li><a href="{% url 'blog:blog' %}">{% if page_settings.menu2_text %}{{ page_settings.menu2_text }}{% else %}Blog{% endif %}</a></li>
            <li><a href="{% url 'links:links' %}">{% if page_settings.menu3_text %}{{ page_settings.menu3_text }}{% else %}Links{% endif %}</a></li>
            {% if user.is_authenticated %}
            <li class="right"><a href="{% url 'accounts:accounts' %}">{% if page_settings.menu6_text %}{{ page_settings.menu6_text }}{% else %}Dashboard{% endif %}</a> / <a href="{% url 'accounts:logout' %}">{% if page_settings.menu5_text %}{{ page_settings.menu5_text }}{% else %}Logout{% endif %}</a></li>
            {% else %}
            <li class="right"><a href="{% url 'accounts:login' %}">{% if page_settings.menu4_text %}{{ page_settings.menu4_text }}{% else %}Login{% endif %}</a></li>
            {% endif %}
            <li class="right" style="padding-right: 10px">
                <input type="text" placeholder="Search..." class="search-input" id="search-dropdown-input">
                <div id="search-dropdown" class="dropdown-menu">

                </div>
            </li>
          </ul>
        </nav>
      </header>
      <div class="content">
        <div class="text_body">
            {% block page_content %}{% endblock %}
        </div>
      </div>

      <div class="footer">{{ page_footer }}</div>

</body>
</html>