<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'javascript.js' %}" defer=""></script>
    <title>{{ page_name }}</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><b>{{ page_name }}</b></li>
            <li><a href="{% url 'homepage:homepage' %}">Homepage</a></li>
            <li><a href="{% url 'blog:blog' %}">Blog</a></li>
            <li><a href="#">About me</a></li>
            {% if user.is_authenticated %}
            <li class="right"><a href="{% url 'accounts:accounts' %}">Dashboard</a> / <a href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
            <li class="right"><a href="{% url 'accounts:login' %}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      <div class="content">
        <div class="text_body">
            {% block page_content %}{% endblock %}
        </div>
      </div>

      <div class="footer">{{ page_footer }}</div>

</body>
</html>